{% extends 'base.html' %}
{% block title %}
    Acerca De
{% endblock %}

{% block info %}

<div class="container">
    <h1 style="font-family: bebas Neue;font-style: normal;margin-top: 5rem;color: black;">Acerca De</h1>
</div>

<div class="container">
    <h2 style="font-family: Bebas Neue;font-style: normal; color: rgb(95, 95, 95);">CONCESIONARIO: LA VECINITA </h2>
        
            <p style="font-family: Bebas Neue;font-size: 22px;text-align: left;text-align: justify;">La concesionaria 'La Vecinita' nació del deseo de un joven emprendedor y estudiante de ingienería que por capricho decidió abrir su propio negocio 
                                                                                                     bajo el pretexto de vender los últimos vehículos de marcas top a un precio acorde a las funcionalidades que brinda el 'producto'.
                                                                                                     Es decir, La Vecinita es una concesionaria que nunca exagerará en los precios y que siempre dispondrá de mercancia internacional, así como también, nacional
                                                                                                      
            </p>
    
    <h3 style="font-family: Bebas Neue;font-style: normal;color: gray;margin-top: 3rem;">Santiago Ribecca </h3>
            <p style="font-family: Bebas Neue; font-size: 22px; text-align: left;text-align: justify;">Con tan solo 19 años, es el actual fundador y CEO de la concesionaria 'La Vecinita'.
                                                                                                       En sus tiempos libres estudia y sigue la carrera de Ingienería en Sistemas de Informacion, además de realizar algunos cursos de programación como: <br>
                                                                                                       » Python (CoderHouse) <br>
                                                                                                       » Argentina Programa <br>
                                                                                                       » Codo a Codo 4.0 <br>
                                                                                                       Y algunos más  <br>
</div>





{% endblock %}