{% extends 'base.html' %}

{% block title %}
  Detalles Vehiculo
{% endblock %}

{% block info %}


<div class="card" style="width: 18rem; margin-left: 45rem; margin-top: 10rem;font-family: Bebas Neue;">
  {% if cars.image %}
  <img src="{{cars.image.url}}" class="card-img-top" alt="...">
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{object.brand}}</h5>
    <p class="card-text">Año: {{object.year}}</p>
    <p class="card-text">${{object.price}}</p>
    <p class="card-text">Transmision Automatica?: {{object.transmision}}</p>
  </div>
{% if request.user.is_authenticated %}

<a href="/vehicles/update-car/{{object.id}}/" class="btn btn-success">Editar</a>
<a href="/vehicles/delete-car/{{object.id}}/" class="btn btn-danger">Eliminar</a>
{% else %}
<a href="/vehicles/buy" class="btn btn-primary">Comprar</a>
{% endif %}

</div>


{% endblock %}