{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block info %}

<div class="alert alert-success" role="alert" style="font-family: Bebas Neue;">
    {{message}}
</div>

<div class="container">
    <h1 style="font-family: sans-serif; font-style:normal;margin-top: 5rem;font-size:55px;color:black; text-align: center;">LA VECINITA</h1>
    <h2 style="font-family: sans-serif; font-style:normal;margin-top: 1rem;font-size:44px;color:rgb(83, 83, 83); text-align: center;">BIENVENIDO A TU CONCESIONARIO DE CONFIANZA</h2>
</div>

<!--
<div class="icon-bar">
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-github"></i></a>
</div>
-->
<div class="container">
    <div class="row" style="margin-top:5rem;">
        <div class="col">
            <iframe width="600" height="350" src="https://www.youtube.com/embed/pWcNfjADofA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col" >
            <h1 style="font-family: Bebas Neue;font-size:38px;color: black;text-align: left;">NUEVA NISSAN FRONTIER 2022</h1>
            <p style="font-family: Bebas Neue;font-size:35px;color: rgb(83, 83, 83);text-align: justify;">
                La Nueva Nissan Frontier cuenta con un carácter audaz y único, capaz de llegar a todas partes  
                gracias a su diseño robusto e imponente que logra destacar toda su potencia con más personalidad y estilo en cada viaje.
            </p>
        </div>
        
    </div>

    <h1 style="font-family: sans-serif; font-style:normal; margin-bottom: 0;margin-top: 5rem;font: size 50px;;text-align:center; color: black;align-items: center;" >PROXIMOS LANZAMIENTOS</h1>
        <div class="col">
            <p style="font-family: sans-serif;font-size:25px;color: rgb(83, 83, 83);text-align: center;margin-bottom: 2rem;">Esto es lo que está por llegar.</p>
            <iframe width="530" height="300" src="https://www.youtube.com/embed/GGnmdNRQRTs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="220" height="300" src="" title="" frameborder="0" allow="" allowfullscreen></iframe>
            <iframe width="530" height="300" src="https://www.youtube.com/embed/fjSTiXO19W8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
</div>

{% endblock %}