{% extends 'base.html' %}

{% block title %}
  Camiones y Camionetas
{% endblock %}

{% block info %}
<div class="container">
  <h1 style="font-family: Bebas Neue;font-style: normal;text-align: center;margin-top: 3rem;margin-bottom: 3rem;">Camiones y Camionetas</h1>
</div>

{% for truck in object_list %}
<div class="container">
  <div class="card" style="width: 18rem;align-items: center;margin-left: 32rem ;font-family: Bebas Neue;">
  {% if truck.image %} 
  <img src="{{truck.image.url}}" class="card-img-top" alt="...">
  {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{truck.brand}}</h5>
      <a href="/vehicles/truck-details/{{truck.id}}/" class="btn btn-info">Ver más</a>
    </div>
  </div>
</div>

{% endfor %}    

{% endblock %}

