{% extends 'base.html' %}

{% block title %}
Regitrarse
{% endblock %}

{% block info %} 


<div class="alert alert-danger" role="alert">
  {{errors}}
</div>


<h2 style="font-family: Bebas Neue;margin-left:47rem;">Completa los campos para registrarte! </h2>
<form action="" enctype="multipart/form-data" method="POST" style="font-family: Bebas Neue;margin-left:52rem;margin-top:3rem;">
  {% csrf_token %}
  <div class="form-group">
    {{form.as_p}}
  </div>
  <input class="btn btn-info" type="submit" value="Submit" style="margin-left:5rem"/>
</form>


{% endblock %}